.Wcontent{
  background-image: url('../../assets/images/WContentBackground.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:  0px 0px;

  display: flex;
  justify-content: space-between;

}

.WcontentL, .WcontentR{
  width: 170px;
  height: 300px;
  background-color: white;
  position: relative;
  top: -50px;
  box-shadow:20px 20px 50px 10px green;

  border-radius: 50px 50px 4px 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
