@font-face {
    font-family: 'Amasis';
    src: url('../../assets/fonts/Amasis.otf') format('opentype');
}

@font-face {
    font-family: 'Pentagon';
    src: url('../../assets/fonts/Pentagon.ttf') format('opentype');
}

.Wcontainer{
  background-image: url("../../assets/images/WContentBackground2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 450px;
  background-position: 0px 0px;

  position: relative;
}

.WcontainerText{
  font-family: 'Pentagon', sans-serif;  
  letter-spacing: 4px;

  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 110px;
  color: #404854;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}

.Wcontent {
  display: flex;
  justify-content: space-between;

  height: 450px;
}

.WcontentL,
.WcontentR {
  width: 170px;
  height: 340px;
  background-color: white;
  position: relative;
  top: 100px;
  box-shadow: 20px 20px 50px 10px black;

  border-radius: 50px 50px 4px 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Wcontimg {
  border-radius: 50% 50%;
  width: 80%; 
  padding-top: 20px;
}

.Wconttext{
  font-family: 'Amasis', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 0.8;  
}

.Wconticons{
 font-family: 'Amasis', sans-serif; 
 font-size: 24px;
}

.WcontPrice1{
 font-family: 'Amasis', sans-serif; 
 font-size: 24px; 
}
.WcontPrice2{
 font-family: 'Amasis', sans-serif; 
 font-size: 16px;
}