.header_container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_center{
  display: flex;
  justify-content: flex-start;
}
.header_right{
  display: flex;
  gap: 20px;
}

