@font-face {
    font-family: 'Amasis';
    src: url('../../../../assets/fonts/Amasis.otf') format('opentype');
}

@font-face {
    font-family: 'Pentagon';
    src: url('../../assets/fonts/Pentagon.ttf') format('opentype');
}

.Fcontent{
  padding-top: 30px;

  display: flex;
  flex-direction: column;
}

.Fcontent_up{
  background-color: #BFBFBF;
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.Fcontent_up_left{
  display: flex;
  flex-direction: row;
}

.Fcontent_up_left_1{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.FcontentName{
  font-family: Amasis;
  font-size: 25px;
  font-weight: bold;
  color: #4D2219;
  margin: 0px;
}

.FcontentText{
  color: #4D2219;;
}

.Fcontent_up_left_2{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.Fcontent_up_left_address{
  display: flex;
  align-items: center;
  gap: 5px;
}
.Fcontent_up_left_address_text{
  color: #4D2219;
}

.Fcontent_up_left_phone{
  display: flex;
  align-items: center;
  gap: 5px;
}

.Fcontent_up_left_carrers{
  display: flex;
  align-items: center;
  gap: 5px;
}

.Fcontent_up_left_email{
  display: flex;
  align-items: center;
  gap: 5px;
}

.Fcontent_line{
  height: 10px;
  background-color: white;
}

.Fcontent_down{
  background-color: #262329;
}

.Fcontent_down_list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  gap: 15px;
  padding-left: 40px;
  padding-right: 40px;
}